# Core functionality - changes here should be rare!
/src/app.py                   @surj33t
/src/backend/database.py      @surj33t
/src/backend/routers/auth.py  @surj33t

# The frontend will need refactored soon to be more object oriented.
/src/static/   @surj33t
